.Contact {
    margin: 2.5em auto;
}

.Contact a {
    display: inline;
    text-align: center;
    margin: 100px 40px;
    font-size: 40px;
    color: rgb(165, 168, 170);
}

.Contact a:hover {
    color: rgb(255, 255, 255);
}
