@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

.App {
  text-align: center;
}

body {
  background: url('./images/background1.png')center center no-repeat fixed;
  background-size: cover;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: rgb(165, 168, 170);
}

h1 h2 {
  margin: 0.5em auto;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;  
  color: rgb(165, 168, 170);
}

h1 {
  margin-top: 2em;
}

p {
  margin: 0.5em auto;
  line-height: 1.8;
  max-width: 70vw;
}