@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.App {
  text-align: center;
}

body {
  background: url('./images/background2.jpg')center center no-repeat fixed;
  background-size: cover;
  font-family: 'Noto Serif', serif;
  color: rgb(145, 181, 214);
}

h1 {
  margin: 1.5em auto;
  font-size: 40px;
  color: white;
}

p {
  margin: auto;
  padding: 2em;
  color: rgb(145, 181, 214);
  font-weight: 600;
  max-width: 60vw;
  min-height: 40vh;
  background-color: rgba(71, 81, 102, 0.3);
}